.menuItem {
    background: rgb(250, 250, 250);
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, .1);
    user-select: none;
}

.menuItem:active {
    background-color: rgba(80, 80, 80, 0.1);
}

.menuItemLogoContainer {
    background: #000;
    width: 130px;
    height: 130px;
    border-radius: 5px;
    overflow: hidden;
}

.menuItemLogo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: optimizeSpeed;
}

.menuItemDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    height: 90%;
    padding: 10px;
}

.menuItemDescriptionTitle {
    width: 100%;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.menuItemDescriptionDetails {
    width: 100%;
    font-size: 1em;
    margin-bottom: 5px;
}

.menuItemDescriptionPrice {
    width: 100%;
    font-size: 1.15em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: rgb(80, 80, 80);
}

.menuItemDescriptionPrice span {
    margin-left: 5px;
}

.menuItemDescriptionPriceOld {
    font-size: 0.9em;
    color: rgb(100, 100, 100);
    text-decoration: line-through;
}

.menuItemDescriptionPriceNew {
    color: rgb(0, 110, 0);
}

.itemDetails {
    padding: 0;
    background: rgb(250, 250, 250);
    width: 100%;
    height: 100%;
    max-height: 0;
    overflow: hidden;
}

.itemDetailsContent {
    padding: 20px;
}

.itemDetailsContent label {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}

.itemDetailsContent textarea {
    width: 100%;
    height: 100%;
    min-height: 50px;
    padding: 15px;
    outline: none;
    border: 1px solid gray;
    resize: none;
    margin-top: 5px;
}

.itemDetailsSelectorBar {
    background: rgb(255, 0, 0);
    color: #FFF;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.itemDetailsSelectorBar input {
    width: 100%;
    width: 3rem;
    padding: 15px;
    font-size: 1rem;
    border: none;
    outline: none;
    text-align: center;
}

.itemDetailsSelectorBar button {
    border: none;
    outline: none;
    padding: 15px 15px;
    border-radius: 3px;
    background: rgb(120, 0, 0);
    color: #FFF;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.itemDetailsSelectorBar button:active {
    background: rgb(170, 0, 0);
}

.itemDetailsSelectorBar span {
    width: 100%;
    font-size: 1.2em;
    text-align: center;
}